body {
            background-color: #F4D474;
            display: flex;
            justify-content: center;
            align-items: center; 
            padding: 20px;
            font-family: Arial, sans-serif;
            height: 100vh; 
        }
        .container {
            width: 1000px; 
            padding: 20px;
            background-color: #FAF3E3;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            position: relative;
        }
        .topics {
            background-color: #EF5253;
            width: 250px; 
            padding-right: 20px;
            overflow-y: auto; 
            z-index: 1; 
            display: flex;
            flex-direction: column;
            justify-content: center; 
            align-items: center; 
            text-align: center; 
        }
        .topics img {
            width: 50%;
            border-radius: 50px;
            margin-bottom: 25px;
        }
        .content-wrapper {
            flex: 1; 
            padding-left: 20px; 
            padding-top: 20px; 
            position: relative; 
            z-index: 0; 
            display: flex;
            justify-content: center;
            align-items: center; 
        }
        .content {
            width: 100%; 
            text-align: center; 
font-size: 1.2em;
        }
